body{
	background-image:url(../knitting250px.png);  
}


#bloc-perso{
	width:30%;
	background-color: #cfe2ec;
	border-radius: 15px;
	margin-right:50px;
	padding: 10px;
}

.bloc-perso-pseudo{
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}

.col-md-4{
	text-align: center;
}


th{
	margin-top: 0px;
	background-color: #3483af;
	text-align: center;
}

#bloc-tweet{
	background-color: white;
	border-radius: 15px;
}


.tweet{
	border:1px solid green;
	width:50%;
	margin: 5px;
	border-radius: 15px;
}

table td{
	padding: 5px 15px 5px 15px;
}

#cinq{
	background-color: white;
}

#cinq td{
	border:1px solid #cfe2ec;
}