body{

}


.contenu{
	margin: 10%;
}

.bloc-perso{
	width:30%;
}

.bloc-perso-pseudo{
	background-color: #ca6870;
	text-align: center;
}

.col-md-4{
	text-align: center;
}

.bloc-perso-tweeter{ 
	padding-top:50px;
	padding:10px;
	background-color: #e6b2b7;
}











.tweets{
	border:1px solid green;
	width:50%;
}