<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Dark Twitter</title>
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
	    <link rel="shortcut icon" type="image/png" href="twitter.png" />
    </head>

    <body>


    	<div class="container">

	    	<div id="bloc-perso" class="col-md-4">
				<div class="bloc-perso-pseudo">@Pseudo</div>

				<div>
					<div class="col-md-4">Tweets<br>10</div>
					<div class="col-md-4">Abonnements<br>20</div>
					<div class="col-md-4">Abonnés<br>1</div>
				</div>

				<div class="bloc-perso-tweeter">
					<form method="POST" action="/publishtweet">
						<textarea class="form-control" rows="3" name="prouttweet" id="champTweet" placeholder="Ecrire un nouveau Tweet..."></textarea>
						<input type="submit" class="btn btn-default" value="Publier" />
					</form>
				</div>
			</div>


			<div id="bloc-tweet" class="col-md-8">
				<h2>Tweets</h2>
				
			</div>
    	</div>
    </body>
</html>