<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Twitter</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
	    <!-- Bootstrap -->
	    <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>


    	<div class="contenu">
	    	<div class="bloc-perso">
				<div class="bloc-perso-pseudo">@Pseudo</div>
				<div>
					<div class="col-md-4">10<br>Tweets</div>
					<div class="col-md-4">20<br>Abonnements</div>
					<div class="col-md-4">1<br>Abonnés</div>
				</div>
				<div class="bloc-perso-tweeter">
					<form method="POST" action="/publishtweet">
						<textarea class="form-control" rows="3" name="champTweet" id="champTweet"></textarea>
						<input type="button" class="btn btn-default" value="Publier" />
					</form>
				</div>

			</div>
			<div class="bloc-tweet">
				Quod cum ita sit, paucae domus studiorum seriis cultibus antea celebratae nunc ludibriis ignaviae torpentis exundant, vocali sonu, perflabili tinnitu fidium resultantes. denique pro philosopho cantor et in locum oratoris doctor artium ludicrarum accitur et bybliothecis sepulcrorum ritu in perpetuum clausis organa fabricantur hydraulica, et lyrae ad speciem carpentorum ingentes tibiaeque et histrionici gestus instrumenta non levia.

				Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus disciplinarum liberalium inpendio paucis sine respiratione ulla extrusis, tenerentur minimarum adseclae veri, quique id simularunt ad tempus, et tria milia saltatricum ne interpellata quidem cum choris totidemque remanerent magistris.

				Et quoniam mirari posse quosdam peregrinos existimo haec lecturos forsitan, si contigerit, quamobrem cum oratio ad ea monstranda deflexerit quae Romae gererentur, nihil praeter seditiones narratur et tabernas et vilitates harum similis alias, summatim causas perstringam nusquam a veritate sponte propria digressurus.		
			</div>
    	</div>
    </body>
</html>